.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 212 177);
  --md-sys-color-surface-tint: rgb(254 184 119);
  --md-sys-color-on-primary: rgb(60 30 0);
  --md-sys-color-primary-container: rgb(193 131 71);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(249 214 185);
  --md-sys-color-on-secondary: rgb(53 33 15);
  --md-sys-color-secondary-container: rgb(169 139 114);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(216 225 173);
  --md-sys-color-on-tertiary: rgb(33 41 5);
  --md-sys-color-tertiary-container: rgb(140 149 102);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 213);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 58);
  --md-sys-color-on-surface-variant: rgb(236 217 203);
  --md-sys-color-outline: rgb(192 175 162);
  --md-sys-color-outline-variant: rgb(157 141 129);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 213);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(108 60 4);
  --md-sys-color-primary-fixed: rgb(255 220 192);
  --md-sys-color-on-primary-fixed: rgb(30 13 0);
  --md-sys-color-primary-fixed-dim: rgb(254 184 119);
  --md-sys-color-on-primary-fixed-variant: rgb(83 45 0);
  --md-sys-color-secondary-fixed: rgb(255 220 192);
  --md-sys-color-on-secondary-fixed: rgb(29 13 1);
  --md-sys-color-secondary-fixed-dim: rgb(226 192 165);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 50 30);
  --md-sys-color-tertiary-fixed: rgb(222 232 179);
  --md-sys-color-on-tertiary-fixed: rgb(14 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(194 204 152);
  --md-sys-color-on-tertiary-fixed-variant: rgb(50 57 20);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(76 67 59);
  --md-sys-color-surface-container-lowest: rgb(12 6 3);
  --md-sys-color-surface-container-low: rgb(36 28 22);
  --md-sys-color-surface-container: rgb(46 38 32);
  --md-sys-color-surface-container-high: rgb(58 49 42);
  --md-sys-color-surface-container-highest: rgb(69 60 53);
}
