.dark-high-contrast {
  --md-sys-color-primary: rgb(255 237 224);
  --md-sys-color-surface-tint: rgb(254 184 119);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(250 180 116);
  --md-sys-color-on-primary-container: rgb(22 8 0);
  --md-sys-color-secondary: rgb(255 237 224);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(222 188 161);
  --md-sys-color-on-secondary-container: rgb(22 8 0);
  --md-sys-color-tertiary: rgb(236 245 191);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(190 200 149);
  --md-sys-color-on-tertiary-container: rgb(9 13 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 213);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 68 58);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 237 224);
  --md-sys-color-outline-variant: rgb(209 191 178);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 213);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(108 60 4);
  --md-sys-color-primary-fixed: rgb(255 220 192);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(254 184 119);
  --md-sys-color-on-primary-fixed-variant: rgb(30 13 0);
  --md-sys-color-secondary-fixed: rgb(255 220 192);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(226 192 165);
  --md-sys-color-on-secondary-fixed-variant: rgb(29 13 1);
  --md-sys-color-tertiary-fixed: rgb(222 232 179);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(194 204 152);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 19 0);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(88 78 70);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(38 30 24);
  --md-sys-color-surface-container: rgb(55 47 40);
  --md-sys-color-surface-container-high: rgb(67 58 50);
  --md-sys-color-surface-container-highest: rgb(79 69 61);
}
